#Data Types and Structures Questions

##Theoritical

###1. What are data structures, and why are they important

Data structures are ways to store & access data in memory,  to optimize the performance of algorithms

###2. Explain the difference between mutable and immutable data types with examples
Mutable data types can be changed after creation. example list,Set,Dictionary. Elements can be added to these or removed from these.
lst=[1,2,3]
lst.append(4)
print(lst)

Immutable data types can not be changed after creation. example tuple, frozenset
tuple = (1,2,3)
tuple.append(4) => AttributeError: 'tuple' object has no attribute 'append'
set = {1,2,3}
frozen_set = frozenset(set)
set.add(4)
frozen_set.add(4) #AttributeError: 'frozenset' object has no attribute 'add'

###3. What are the main differences between lists and tuples in Python
Lists can be changed(add/modify) after creation , Tuples are immutable and can not be changed

###4. Describe how dictionaries store data
Dictionaries store data in key value pair
dict ={"name":"debdutta"}
print(dict)

###5. Why might you use a set instead of a list in Python
Set are used to store unique elements. list can have duplicates, sets cannot.
Set supports set operation methods
set ={1,2,3}
set2 = {3,4,5}
set & set2 # => {3}


###6. What is a string in Python, and how is it different from a list
String is a sequence of characters.Strings are immutable & supports operations like index() endswith() etc.

List can store heterogeneous elements like numbers, characters. Lists are mutable.

###7. How do tuples ensure data integrity in Python
Tuples are immutable . Once defined tuples can not be changed. Thats how it ensures data integrity
tuple = (1,2,3)
tuple[0]=4 #TypeError: 'tuple' object does not support item assignment


###8. What is a hash table, and how does it relate to dictionaries in Python
Hashtables use hashing to store & retrieve data. Python dictionaries are implemented using hash tables.

###9. Can lists contain different data types in Python
Yes
lst =[1,2.3,'hello',True]
print(lst)

###10. Explain why strings are immutable in Python
Strings are made immutable to ensure performance and syncronization between threads. Also hashing is possible due toimmutable behavior.

###11. What advantages do dictionaries offer over lists for certain tasks
Dictionaries store objects in key value pairs. They are hashable. The keys in dictionary are unique.
key =["name","id"]
value =["ABC",123]
zipped = zip(key,value)
for key,value in zipped:
  print(f"{key}=>{value}")

#Simple implementation
dict ={"name":"ABC","id":123}
print(dict)

###12. How do sets handle duplicate values in Python
Set doesnot store duplicates.If duplicate element is inserted then the element gets discarded
set ={1,2,3}
set.add(1)
set.add(2)
set.add(3)
print(set) #{1,2,3}


###13. Describe a scenario where using a tuple would be preferable over a list
Storing a list of constant values can be stored in tuples.

###14. How does the “in” keyword work differently for lists and dictionaries
List -in keyword checks if an element is present in the list.
Dictionary - in keyword checks if a key is present inside the dictionary
lst =[1,2,3]
print(1 in lst)

dict ={"name":"ABC","id":1}
print("name" in dict)

###15. Can you modify the elements of a tuple? Explain why or why not
Tuples are immutable . Once declared the tuple cannot be changed.
This ensures data integrity, thread safety and hashability

###16. What is a nested dictionary, and give an example of its use case
Nested dictionary is dictionary within dictionary.
It can be used to store data of all students in a class.
student ={
            "student1":{"name":"ABC1","id":1},
            "student2":{"name":"ABC2","id":2},
            "student3":{"name":"ABC3","id":3}
       }
print(student)

###17. Describe the time complexity of accessing elements in a dictionary
Dictionary uses hashing hence the average time complexity is O(1). But if there are multiple elements with the same hashing, then in worst case it can be O(n)

###18. In what situations are lists preferred over dictionaries
List can be preferred when the elements are not in key -value pair type and the scenario is required to store duplicate values.
List also offers slicing, index based access and sorting.
Example - Wish list of a person.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval
Dictionaries maintain order since Python 3.7
dictionaries maintain hashing that makes retrieval faster

###20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists provide option of index based access
Dictionary elements can be retrieved using keys
student ={
            "student1":[1,2,3],
            "student2":[4,5,6],
            "student3":[7,8,9]
       }
print(student["student1"][0]) # =>1

##Practical Questions

In [18]:
#1. Write a code to create a string with your name and print it
name ="Debdutta"
print(f"{name}")

Debdutta

In [23]:
#2. Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str))

length=0
for char in str:
  length+=1
print(length)

11
11

In [74]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming"
str ="Python Programming"
print(str[:3])

Pyt

In [27]:
#4.  Write a code to convert the string "hello" to uppercase
str ="hello"
print(str.upper())
#print(str.swapcase())

HELLO

In [28]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
print(str.replace("apple","orange"))

I like orange

In [31]:
#6.  Write a code to create a list with numbers 1 to 5 and print it
lst = list(range(1,5))
print(lst)

[1, 2, 3, 4]

In [34]:
 #7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst =[1, 2, 3, 4]
lst.append(10)
print(lst)

#Alternate
lst2 =[1, 2, 3, 4]
lst2.extend([10])
print(lst2)

[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]

In [36]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst =[1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

#Alternate
lst =[1, 2, 3, 4, 5]
lst.pop(2)
print(lst)

[1, 2, 4, 5]
[1, 2, 4, 5]

In [37]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [42]:
 #10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst =[10, 20, 30, 40, 50]
print(lst.reverse())

#Alternate
lst =[10, 20, 30, 40, 50]
rev=[]
index = len(lst)-1
while(index>=0):
  rev.append(lst[index])
  index-=1
print(rev)

#Alternate
lst =[10, 20, 30, 40, 50]
rev=lst[::-1]
print(rev)

None
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [64]:
#11  Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [65]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [66]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple =(1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [67]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple =('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

In [68]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple =('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

In [58]:
#16. Write a code to create a set with the elements  and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [59]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set ={1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [61]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [63]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [69]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple =(1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [70]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple =('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

In [71]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple =('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

In [72]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [73]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set ={1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}